doctype html
html
	head(lang="en")
		title gulp-webapp
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="renderer" , content="webkit")
		meta(http-equiv="X-UA-Compatible" , content="IE=Edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		meta(name="description", content="")
		meta(name="keywords", content="")
		link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="styles/main.css", type="text/css")
	body
		.header
			h1 gulp-webapp
		.container
			include jade/test
		.footer
script(type="text/javascript", src="bower_components/jquery/jquery.js")
script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="scripts/main.js")