extend ../index.jade

block styles
	link(rel="stylesheet", type="text/css", href="/react/main.css")
	//- link(rel="stylesheet", type="text/css", href="/styles/page.css")
	//- link(rel="stylesheet", type="text/css", href="/styles/loading.css")
	//- link(rel="stylesheet", type="text/css", href="/styles/alert.css")
	//- link(rel="stylesheet", type="text/css", href="/styles/main.css")

block scripts
	script(type="text/javascript", src="/bower_components/react/react.js")
	script(type="text/javascript", src="/bower_components/react/JSXTransformer.js")
	script(type="text/javascript", src="/bower_components/marked/marked.min.js")
	script(type="text/jsx", src="/react/main.js")


block main
	#container